* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.button-style{
    padding: 15px 30px;
    border-radius: 10px;
    font-size: 1.2rem;
    margin-top: 2rem;
}

.responsive-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 500px));
    list-style: none;
    margin-bottom: 3.3rem;
    margin-top: 2rem;
    justify-content: center;
}